<div class="page-width" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left faq_text_width" aria-controls="FAQ-content-{{ block.id }}">
    <span itemprop="name">{{ block.settings.title }}</span>
    {%- render 'collapsible-icons-alt', no_circle: true -%}
  </button>
  <div id="FAQ-content-{{ block.id }}" class="collapsible-content collapsible-content--all " itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte collapsible_contnet_padding" itemprop="text" style="border-bottom: 1px solid rgba(34,80,83,.45);">
      {{ block.settings.text }}
    </div>
  </div>
</div>
